Repository essential-contributions/ERC-7521, pull requests merged in 2023-10, with the labels that each got.

#95 Internalize libraries
  src/interfaces/IntentSolution.sol
  src/interfaces/UserIntent.sol
  src/standards/assetbased/AssetBasedIntentCurve.sol
  src/standards/assetbased/AssetBasedIntentDelegate.sol
  src/standards/assetbased/AssetBasedIntentSegment.sol
  src/standards/assetbased/AssetBasedIntentStandard.sol
  src/test/AssetBasedIntentCurveLibHarness.sol
  src/utils/Exec.sol
  test/AssetBasedIntentCurve.t.sol
  test/EntryPoint.t.sol
  test/UserIntent.t.sol
  test/scenarios/TokenSwaps.sol
  test/utils/AssetBasedIntentBuilder.sol
  test/utils/ScenarioTestEnvironment.sol
  test/utils/TestEnvironment.sol
Labels: contracts 📜: entrypoint, contracts 📜: asset int std, contracts 📜: other

#107 Removed execution simulation
  .github/workflows/test.yml
  src/core/EntryPoint.sol
  src/interfaces/IEntryPoint.sol
  test/ethers-rs/utils/src/wrappers/entry_point.rs
  test/foundry/scenarios/TokenSwaps.sol
  test/foundry/scenarios/TransferErc20.sol
  test/foundry/scenarios/TransferEth.sol
Labels: contracts 📜: entrypoint, spec change 📝

#108 Remove `isIntentStandardForEntryPoint`
  src/core/BaseStandard.sol
  src/core/EmbeddedStandard.sol
  src/core/EntryPoint.sol
  src/interfaces/IIntentStandard.sol
  src/standards/CallIntentStandard.sol
  src/standards/Erc20ReleaseIntentStandard.sol
  src/standards/Erc20RequireIntentStandard.sol
  src/standards/EthReleaseIntentStandard.sol
  src/standards/EthRequireIntentStandard.sol
  src/standards/UserOperation.sol
  test/ethers-rs/utils/src/wrappers/standards/call_intent_standard.rs
  test/ethers-rs/utils/src/wrappers/standards/erc20_release_intent_standard.rs
  test/ethers-rs/utils/src/wrappers/standards/erc20_require_intent_standard.rs
  test/ethers-rs/utils/src/wrappers/standards/eth_release_intent_standard.rs
  test/ethers-rs/utils/src/wrappers/standards/eth_require_intent_standard.rs
  test/ethers-rs/utils/src/wrappers/standards/user_operation.rs
  test/foundry/EntryPoint.t.sol
  test/foundry/EntryPointTruster.t.sol
  test/foundry/utils/ScenarioTestEnvironment.sol
  test/foundry/utils/TestEnvironment.sol
Labels: spec change 📝
